Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:
```
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
```

In [ ]:
list_of_lists = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]

def sum_list(lst: list = [0]):
    return sum(lst)

sums = [sum_list(i) for i in list_of_lists]

sums

Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

```
  lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

```

In [ ]:
list_of_tuples = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

age = [list_of_tuples[i][2] for i in range(len(list_of_tuples))]
age

A partir da lista:
```
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
```
crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [ ]:
list_names = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

names = [(list_names[i], list_names[i][0]) for i in range(len(list_names))]
names

Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:
```
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
```

In [ ]:
rental = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

apartments = [rental[i][1] for i in range(len(rental)) if rental[i][0] == "Apartamento"]
apartments

Crie um dicionário usando o dict comprehension em que as chaves estão na lista

meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] e os valores estão em

despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

In [ ]:
expense = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

monthly_expense = {months[i]: expense[i] for i in range(len(months))}
monthly_expense

Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:
```
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
```

Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [ ]:
sales = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), 
         ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), 
         ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

higher_sales = [sales[i][1] for i in range(len(sales)) if sales[i][0] == '2022' and sales[i][1] > 6000]

higher_sales

Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

Glicose igual ou inferior a 70: 'Hipoglicemia'

Glicose entre 70 a 99: 'Normal'

Glicose entre 100 e 125: 'Alterada'

Glicose superior a 125: 'Diabetes'

A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.
```
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
```

In [ ]:
blood_sugar = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

labels = [("Hypoglycemia", blood_sugar[i]) if blood_sugar[i] <= 70 else
          ("Normal", blood_sugar[i]) if blood_sugar[i] <= 90 else
          ("Altered", blood_sugar[i]) if blood_sugar[i] <= 125 else ("Diabetes", blood_sugar[i]) for i in range(len(blood_sugar))]

print(labels)

Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:
```
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
```
O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

In [ ]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantity = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
price = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
total = [sum(price)]

inform = [i for i in [id, quantity, price, total]]
inform

columns = ['id', 'quantidade', 'preco', 'total']

ecommerce = {columns[i]: inform[i] for i in range(len(inform))}
ecommerce

Uma empresa possui filiais espalhadas nos Estados da região Sudeste do Brasil. Em uma das tabelas de cadastro das filiais há uma coluna contendo a informação de qual é o Estado a que pertence:
```
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG'].
```
A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada Estado.

A partir da coluna com a informação dos Estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um Estado e o valor sendo a contagem de vezes em que o Estado aparece na lista.

> Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui o nome de apenas um Estado com valores repetidos.

In [ ]:
states = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

count = {state: states.count(state) for state in set(states)}

print(count)

# A função count() em uma lista retorna o número de vezes que um elemento específico aparece nessa lista.
# A função set()  cria um conjunto a partir da lista. São coleções não ordenadas e Eliminam duplicatas automaticamente.

Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de pessoas colaboradoras e o(a) gestor(a) gostaria de ter um agrupamento da soma dessas pessoas para cada estado. As informações contidas na tabela são:
```
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
```
A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos Estados únicos e os valores são as listas com o número de colaboradores(as) referentes ao Estado. Crie também um dicionário em que as chaves são os nomes dos Estados e os valores são a soma de colaboradores(as) por Estado.

Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui apenas os valores numéricos de funcionários(as) de cada Estado.

In [1]:
employees = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES', 9), ('ES', 7), ('ES', 12),
             ('SP', 7), ('SP', 11), ('MG', 8), ('ES', 8), ('SP', 9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12),
             ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

states_employees = {}

for state, num_employees in employees:
    if state not in states_employees:
        states_employees[state] = []
    states_employees[state].append(num_employees)

states_employees

{'SP': [16, 10, 7, 11, 9, 12, 7, 10],
 'ES': [8, 9, 7, 12, 8, 14],
 'MG': [9, 6, 4, 8, 5, 10, 12],
 'RJ': [13, 9]}

In [2]:
sum_states = {state: sum(employees) for state, employees in states_employees.items()}

# O método .items() em um dicionário retorna uma vista de itens (ou view) que contém pares de chave-valor como tuplas. Ele é frequentemente usado para iterar sobre as chaves e valores de um dicionário ao mesmo tempo.

In [3]:
sum_states

{'SP': 82, 'ES': 58, 'MG': 54, 'RJ': 22}